.button {
  font-family: $roboto-condensed;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
}
