.button {
  font-family: $roboto-condensed;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  display: block;

  &--hero {
    padding: 22px 0;

    &:focus-visible {
      outline: none;
      border: 2px solid #000000;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:hover {
      color: #103aae;
      background-color: $main-color-light;
    }

    &:active {
      color: $main-color;
      background-color: $main-color-light;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @include vp-tablet {
      padding: 20px 0;
    }

    @include vp-desktop {
      padding: 25px 0;
    }
  }

  &--games {
    padding: 22px 50px;

    @include vp-tablet {
      padding: 25px 50px;
    }
  }

  &--form {
    padding: 22px 0;
    background-color: transparent;

    @include vp-tablet {
      padding: 25px 56px;
    }
  }

  &--price {
    padding: 25px 0;
    color: $main-color;
    border: 2px solid #102654;
    min-height: 66px;

    &:focus {
      border: 2px solid #000000;
      background: linear-gradient(97deg, rgba(237, 2, 51, 0.8) 17%, rgba(0, 62, 183, 0.8) 95%);
    }

    &:hover {
      border: none;
      background: linear-gradient(97deg, #ed0233 17%, #003eb7 95%);
      color: $main-color-light;
    }

    &:active {
      color: rgba(255, 255, 255, 0.8);
      background: linear-gradient(97deg, #ed0233 17%, #003eb7 95%);
      border: none;
    }
  }
}

.button--price [disabled] {
  opacity: 0.3;
  pointer-events: none;
}
