.card-text {
  width: 227px;
  height: 280px;
  color: $main-color-light;
  background-color: transparent;
}

.card-text:hover {
  background-color: rgba(16, 38, 84, 0.89);
  padding: 25px;

  .card-text__name {
    margin: 0;
    margin-bottom: 8px;
  }

  .card-text__description {
    display: block;
  }
}

.card-text__name {
  margin: 0;
  margin-top: 233px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.card-text__description {
  display: none;
}

.card-text__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: $main-color-light;
  font-size: 14px;
  line-height: 22px;
}


.card-text__sport {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
  text-align: center;
}
