.footer {
  background-color: #030a1a;
  padding: 40px 0;

  @include vp-tablet {
    padding: 45px 0;
  }

  @include vp-desktop {
    padding: 40px 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
  font-size: 14px;
  line-height: 20px;

  @include vp-tablet {
    gap: 10px 30px;
  }

  @include vp-desktop {
    gap: 10px 82px;
  }
}

.footer__nav-link {
  text-decoration: none;
  color: $main-color-light;
  position: relative;

  &:hover {
    /*content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $main-color-light;
    bottom: -10px;
    left: 0;*/
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $main-color-light;
    outline-offset: 11px;
    pointer-events: none;
  }

  &[disabled] {
    cursor: auto;
    pointer-events: none;
  }
}

