.form__form-block {
  background-color: #102654;
  padding: 70px 0;

  @include vp-tablet {
    padding: 60px 0;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 36px;
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 100%;
  padding: 0;
  padding-bottom: 4px;
  height: 27px;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #74819c;
}

.form__request {
  display: grid;
  grid-template-columns: 290px;
  gap: 36px;

  @include vp-tablet {
    padding: 0 119px;
    grid-template-columns: repeat(2, 205px);
    gap: 36px 30px;
  }
}

.form__button {
  @include vp-tablet {
    grid-column: 1/3;
  }
}
