.form {
  @include vp-desktop {
    display: flex;
    margin: 0 auto;
  }
}

.form__wrapper {
  margin: auto;
  min-width: 320px;
  width: 320px;
  padding: 0 15px;

  @include vp-tablet {
    width: 768px;
    padding: 0 45px;
  }

  @include vp-desktop {
    width: 683px;
    padding: 0 103px;
    margin-right: 0;
  }
}

.form__form-block {
  background-color: #102654;
  padding: 70px 0;

  @include vp-tablet {
    padding: 60px 0;
  }

  @include vp-desktop {
    width: 50%;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 36px;
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 100%;
  padding: 0;
  padding-bottom: 4px;
  height: 27px;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #74819c;
}

.form__request {
  display: grid;
  grid-template-columns: 290px;
  gap: 36px;

  @include vp-tablet {
    padding: 0 119px;
    grid-template-columns: repeat(2, 205px);
    gap: 36px 30px;
  }

  @include vp-desktop {
    padding: 0;
    grid-template-columns: repeat(2, 223px);
  }
}

.form__button {
  @include vp-tablet {
    grid-column: 1/3;
  }
}
