.juri {
  padding: 40px 0;
  position: relative;

  @include vp-tablet {
    padding: 30px 0 60px;
  }

  @include vp-desktop {
    padding: 100px 0;
  }
}

.juri__title {
  margin: 0;
  margin-bottom: 20px;

  @include vp-tablet {
    margin-bottom: 46px;
  }
}

.juri__slider {
  width: 227px;

  z-index: 1;

  @include vp-tablet {
    width: 560px;
  }

  @include vp-desktop {
    width: 1160px;
  }
}

.juri__button {
  width: 16px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  padding: 0;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);


  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 32px;
    mask: url("../../img/sprite/arrow.svg");
    mask-size: 16px 32px;
    background-color: $main-color;
  }

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

  &--next {
    right: 45px;
  }
}

.button-slider {

}
