.price {
  background-color: $main-color-bg;
  padding: 40px 0 33px;
  z-index: 1;

  @include vp-tablet {
    padding: 60px 0;
  }

  @include vp-desktop {
    padding: 100px 0;
  }
}

.price__wrapper {
  position: relative;
  z-index: 0;
}

.price__title {
  margin: 0;
  margin-bottom: 30px;

  @include vp-tablet {
    margin-bottom: 35px;
  }

  @include vp-desktop {
    margin-bottom: 20px;
  }
}

.price__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-tablet {
    width: 310px;
    margin: auto;
    margin-bottom: 45px;
  }

  @include vp-desktop {
    width: 350px;
    margin-bottom: 40px;
  }
}

.price__tab {
  display: block;
  position: relative;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 16px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
    z-index: 1;
  }

  &:focus {
    color: $main-color;

    &::after {
      background-color: $main-color;
    }
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);

    &::after {
      background-color: #787878;
    }
  }

  &:active {
    &::after {
      background-color: #ed0233;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include vp-tablet {
    font-size: 18px;
    line-height: 18px;
    padding: 0 0 8px;
  }

  @include vp-desktop {
    font-size: 20px;
    line-height: 20px;
  }
}

.price__tab.is-active::after {
  opacity: 1;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #ed0233;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include vp-tablet {
    gap: 40px;
  }

  @include vp-desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.price__image {
  display: none;

  @include vp-tablet {
    position: absolute;
    bottom: -79px;
    right: 0;
    display: block;
    z-index: -1;
    width: 327px;
    height: 423px;
  }

  @include vp-desktop {
    width: 287px;
    height: 494px;
    bottom: -120px;
  }
}
