.reviews {
  padding: 40px 0;

  @include vp-tablet {
    padding: 60px 0;
  }

  @include vp-desktop {
    padding: 100px 0;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 40px;

  @include vp-tablet {
    margin-bottom: 35px;
  }

  @include vp-desktop {
    margin-bottom: 75px;
  }
}

.reviews__slider {
  width: 240px;

  @include vp-tablet {
    width: 500px;
  }

  @include vp-desktop {
    width: 560px;
  }
}

.reviews__slide {
  background-color: $main-color;
  padding: 30px 25px;
  color: $main-color-light;
  text-align: center;
  width: 240px;

  @include vp-tablet {
    width: 500px;
    padding: 40px 30px;
    display: flex;
    gap: 40px;
    text-align: left;
    margin: 0 auto;
  }

  @include vp-desktop {
    padding: 60px;
    gap: 30px;
  }
}

.reviews__text {
  @include vp-tablet {
    width: 320px;
  }

  @include vp-desktop {
    width: 328px;
  }
}

.reviews__image {
  margin: auto;
  margin-bottom: 10px;

  @include vp-tablet {
    width: 80px;
    height: 80px;
  }
}

.reviews__slide h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 16px;

  @include vp-tablet {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.reviews__slide p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @include vp-tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
