.title {
  font-family: $alumni-sans;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $main-color;
  text-align: center;

  @include vp-tablet {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @include vp-desktop {
    font-size: 54px;
    line-height: 54px;
  }

  &--about {
    text-align: left;

    @include vp-tablet {
      text-align: center;
    }

    @include vp-desktop {
      text-align: left;
    }
  }

  &--faq {
    @include vp-desktop {
      text-align: left;
    }
  }

  &--form {
    text-align: left;
    color: $main-color-light;

    @include vp-tablet {
      font-size: 54px;
      line-height: 54px;
      text-align: center;
    }

    @include vp-desktop {
      text-align: left;
    }
  }

  &--contacts {
    text-align: left;

    @include vp-tablet {
      font-size: 54px;
      line-height: 54px;
      text-align: center;
    }

    @include vp-desktop {
      text-align: left;
    }
  }

  &--juri,
  &--reviews {
    @include vp-tablet {
      font-size: 54px;
      line-height: 54px;
    }
  }

  &--juri {
    @include vp-desktop {
      text-align: left;
    }
  }
}
