@font-face {
  font-family: "AlumniSans";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/AlumniSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "AlumniSans";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/AlumniSans-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Roboto-Condensed-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Roboto-Condensed-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Roboto-Condensed-Bold.woff2") format("woff2");
  font-display: swap;
}
