/* Цвета */
$main-color: #102654;
$main-color-light: #ffffff;

/* шрифты */
$alumni-sans: "AlumniSans", "Arial", sans-serif;
$roboto-condensed: "Roboto-Condensed", "Arial", sans-serif;

/* Ширина экранов */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
